# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build output
dist
dist-ssr
.vite/
.output
.next
.nuxt
.svelte-kit/

# Environment files
.env
.env.*
!.env.example

# Editor files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Local files
*.local